* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: linear-gradient(to right, #AE82EF, #6D59EC);
    --left-side-text-color: #fff;
    --right-side-text-color: #000;
    --left-side-bg: #02B3D2;
    --right-side-bg: #FFFFFF;
    --input-bg-color: #EEEEEE;
    --btn-hover-color: #037e94;
}

body {
    background: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    height: 500px;
    margin: 5% auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 0; /* إزالة الفراغ بين inline-blocks */
}

.left-side {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: var(--left-side-bg);
    color: var(--left-side-text-color);
    text-align: center;
    line-height: 500px; /* نفس ارتفاع الحاوية لتوسيط عمودي */
    vertical-align: middle;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}

.left-side .content {
    display: inline-block;
    vertical-align: middle;
  line-height: normal; /* يرجع السطر لطبيعته داخل النص */
}   

.left-side h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-side p {
    font-size: 16px;
    margin-bottom: 10px;
}

.right-side {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: var(--right-side-bg);
    color: var(--right-side-text-color);
    padding: 20px;
    font-size: 16px;
    vertical-align: top;
    text-align: center;
    border-radius: 0 10px 10px 0;
}

.right-side h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.right-side span {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 5%;
}

.right-side input,
.right-side textarea {
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: var(--input-bg-color);
    font-size: 16px;
}

/* .right-side textarea {
    resize: none;
} */

.right-side button {
    width: 50%;
    padding: 15px;
    border: 2px solid var(--left-side-bg);
    background: var(--left-side-bg);
    color: var(--left-side-text-color);
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

.right-side button:hover {
    background: var(--btn-hover-color);
    border-color: var(--right-side-bg);
}
